{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(){

			//달력 script문
			var cYear = new Date().getFullYear();	//현재
			var cMonth = new Date().getMonth();
			var cDate = new Date().getDate();
			var now = new Date().getDay();
			var dd = $("td");	//td 42개

			var cal = function(){
				$("#year").html(cYear);

				$("#month").html(cMonth+1);

				for(var i=0; i<42; i++)
					dd.eq(i).html("&nbsp");	//달력 전체 공백 초기화

				var startIndex = new Date(cYear, cMonth, 1).getDay(); //5	//현재달의 시작 일
				var monLength = 32 - new Date(cYear, cMonth, 32).getDate(); //31	//몇일까지 있는지?
				var date = 1;
				for(var i=startIndex; i<monLength+startIndex; i++){
					date = date + 1;
					dd.eq(i).html(date-1);
				}
				dd.eq(cDate+startIndex-1).addClass('ddeq');

				$("#today").html(cYear + '.' + (cMonth+1) + '.' + cDate);
			};

			cal();

			$("#prev").click(function(){
				cYear = new Date(cYear, cMonth-1, cDate).getFullYear();
				cMonth = new Date(cYear, cMonth-1, cDate).getMonth();
				cal(cYear, cMonth);

				for(var i=0;i<45;i++)
					dd.eq(i).removeClass('ddeq');

				return false;
			});
			$("#next").click(function(){
				cYear = new Date(cYear, cMonth+1, cDate).getFullYear();
				cMonth = new Date(cYear, cMonth+1, cDate).getMonth();
				cal(cYear, cMonth);

				for(var i=0;i<45;i++)
					dd.eq(i).removeClass('ddeq');

				return false;
			});

		});
	</script>

		<div id="calendar" style="height:1000px;">
			<div class="month_bar">
				<caption>
					<span id="year"></span><br>
					<a href="#" id="prev"><img id="il" width="40px"src="{% static 'image\btn\prev.png' %}" alt="이전달"/></a>
					<span id="month"></span>
					<a href="#" id="next"><img id="ir" width="40x" src="{% static 'image\btn\next.png' %}" alt="다음달"/></a>
				</caption>
			</div>
			<div class="add">
				<a href="{% url 'memory:sccreate' %}">+ 일정추가</a>
			</div>
			<table class="calheader" >
					<th>SUN</th><th>MON</th><th>TUE</th><th>WED</th>
					<th>THU</th><th>FRI</th><th>SAT</th>
			</table>
			<table class="calbody" border="1" >
					<tr class="date">
						<tr>
							<td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td>
							<td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td>
						</tr>
						<tr>
							<td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td>
							<td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td>
						</tr>
						<tr>
							<td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td>
							<td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td>
						</tr>
						<tr>
							<td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td>
							<td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td>
						</tr>
						<tr>
							<td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td>
							<td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td>
						</tr>
						<tr>
							<td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td>
							<td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td><td align="left" valign="top">&nbsp;</td>
						</tr>
					</tr>
			</table>


		</div>
		<br><br>
		<div class="clear"></div>

{% endblock %}
