{% extends 'base.html' %}
{% load static %}
{% block content %}
		
		<div id="events">
			
			<div class="imageslides">
				<img src="{% static 'image\slideimage\eventslide.png' %}" alt="imageslide(1)"/>
			</div>
			
			<div class="mo">
			<h3 id="mo">모금함 </h3><h3>4 </h3><h3>개</h3>
			</div>
			
			<div class="ev_con">
				<div class="eventcontent">
					<a href="https://happybean.naver.com/donations/H000000155222?p=p&s=rsch"><img src="{% static 'image\slideimage\event(1).png' %}"/></a>
					<h4>또 다른 가족이 필요한 아이들</h4>
					<p>울산남구여자중장기청소년쉼터</p>
					<img src="{% static 'image\icon\bar(1).png' %}" alt="bar" class="bar"/>
				</div>
				<div class="eventcontent">
					<a href="https://happybean.naver.com/donations/H000000155214?p=p&s=rsch"><img src="{% static 'image\slideimage\event(2).png' %}"/></a>
					<h4>매달 숨을 조여 오는 삶의무게를 나..</h4>
					<p>상록재가노인지원센터</p>
					<img src="{% static 'image\icon\bar(2).png' %}" alt="bar" class="bar"/>
				</div>
				<div class="eventcontent">
					<a href="https://happybean.naver.com/donations/H000000155245?p=p&s=rsch"><img src="{% static 'image\slideimage\event(3).png' %}"/></a>
					<h4>'나'를 넘어 '우리'를 배우는..</h4>
					<p>사단법인 난치병아동돕기운동본부</p>
					<img src="{% static 'image\icon\bar(3).png' %}" alt="bar" class="bar"/>
				</div>
				<div class="eventcontent">
					<a href="https://happybean.naver.com/donations/H000000155154?p=p&s=rsch"><img src="{% static 'image\slideimage\event(4).png' %}"/></a>
					<h4>뜨거웠던 그 해, 어르신의 여름</h4>
					<p>진도군노인종합복지관</p>
					<img src="{% static 'image\icon\bar(1).png' %}" alt="bar" class="bar"/>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		
{% endblock %}
