{% extends 'base.html' %}
{% load static %}
{% block content %}

		<div id="events"style="height:1200px;">
<br><br>
			<div class="imageslides">
				<img src="{% static 'image\slideimage\eventslide.png' %}" alt="imageslide(1)"/>
			</div>
			<br><br><br>
			<div class="mo">
			<h3 id="mo" >모금함 </h3><h3>4 </h3><h3>개</h3>
			</div>

			<div class="ev_con">
				<div >
					<a href="https://happybean.naver.com/donations/H000000157090"><img src="{% static 'image\slideimage\1.png' %}"/></a>

				</div>
				<div class="eventcontent">
					<a href="https://happybean.naver.com/donations/H000000157140"><img src="{% static 'image\slideimage\2.png' %}"/></a>

				</div>
				<div class="eventcontent">
					<a href="https://happybean.naver.com/donations/H000000156503"><img src="{% static 'image\slideimage\3.png' %}"/></a>

				</div>
				<div class="eventcontent">
					<a href="https://happybean.naver.com/donations/H000000156471"><img src="{% static 'image\slideimage\4.png' %}"/></a>

				</div>
			</div>
		</div>
		<br><br><br>
		<div class="clear"></div>
		
{% endblock %}
