{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
	label{visibility:hidden; margin:-30px;}
	input:nth-child(2){float:left;}
</style>
		<div id="point2" style="height:842px;">
			<div class="schedule">■ 포인트 충전하기</div>		
			<div class="point_table">
				<table>
					<tr>
						<th>no</th>
						<th>충전할 금액</th>
						<th>내용</th>
						<th>비고</th>
					</tr>
					<tr>
						<form action="" method="post" enctype="multipart/form-data" id="moneyform">
							<td><a href="#">01</a></td>
							{% csrf_token %}
							<td>{{ form.as_p }}원</td>
							<td><a href="#">포인트 충전</a></td>
							<td><input type="submit" value="충전하기" id="sub"></td>
						</form>
					</tr>
				</table>
			</div>
		<div class="clear"></div>
		</div>
{% endblock %}