<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
{% load static %}
	<link href="{% static 'style.css' %}" type="text/css" rel="stylesheet"/>
</head>
<body>
<header>
	<div class="logo">
		<a href="http://127.0.0.1:8000"><img src="{% static 'image\logo\logo.png' %}" alt="memories_logo"/></a>
	</div>
	<div class="nav">
		<nav>
			{%if user.is_authenticated %}
			<li><a href="{% url 'memory:Memories_ContactAddress' %}">address</a></li>
			<li><a href="{% url 'memory:calendar' %}">calendar</a></li>
			<li><a href="{% url 'memory:schedule' %}">schedule</a></li>
			<li><a href="{% url 'memory:point' %}">point</a></li>
			<li><a href="{% url 'memory:event' %}">event</a></li>
			<li><a href="{%url 'logout' %}">logout</a></li>
			{%else%}
			<li><a href="{% url 'login' %}">address</a></li>
			<li><a href="{% url 'memory:calendar' %}">calendar</a></li>
			<li><a href="{% url 'login' %}">schedule</a></li>
			<li><a href="{% url 'login' %}">point</a></li>
			<li><a href="{% url 'memory:event' %}">event</a></li>
			<li><a href="{%url 'login' %}">login</a></li>
			{%endif%}
		</nav>
	</div>
</header>
<div class ="clear"></div>

{% block content %}
{% endblock %}

{% block pagination %}
{% endblock %}

</body>
	<footer>
			<div class="footer_left">
				<ul>
					<li>capstone design project</li>
					<li>myungji college</li>
					<li> 대표전화 (02)300-1000,1114 FAX (02)304-4832 </li>
					<li>우)03656 서울특별시 서대문구 가좌로 134((서울특별시 서대문구 홍은 2동 356-1)</li>
				</ul>
			</div>
			<div class="footer_right">
				<div class="footer_icon">
					<ul class="icons">
						<li><a href="#"><img src="{% static 'image\icon\facebook.png' %}" alt="facebook"/></a></li>
						<li><a href="#"><img src="{% static 'image\icon\twitter.png' %}" alt="twitter"/></a></li>
					</ul>
				</div>
				<div>
					<ul class="footer_contents">
						<li><a href="#">개인정보처리방침</a></li>
						<li><a href="#">이용약관</a></li>
						<li><a href="#">고객센터</a></li>
					</ul>
				</div>
			</div>
		</footer>
</body>
</html>